.profile__form {
    padding-top: 74px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 410px;
    margin: 0 auto;
}

.profile__title {
    font-size: 24px;
    font-weight: 500;
    line-height: 29px;
    text-align: center;
    margin: 0;

}

.profile__inputs {
    padding: 120px 0 220px;
}

.profile__input-area {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    border-bottom: 1px solid #E8E8E8;
    padding-bottom: 16px;
    margin-bottom: 17px;
    width: 410px;
}

.profile__input-area:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
    padding-bottom: 0;
}

.profile__subtext {
    font-size: 11px;
    font-weight: 500;
    line-height: 13px;
    text-align: left;
    margin: 0;
}

.profile__input {
    font-size: 11px;
    font-weight: 400;
    line-height: 13px;
    text-align: right;
    border: none;
    outline: none;
    margin: 0;
}

.form__buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.form__button {
    border: none;
    background-color: transparent;
    font-size: 13px;
    line-height: 16px;
    text-align: center;
    cursor: pointer;

}

.form__buttons_type_edit {
    font-weight: 400;
    padding-bottom: 16px;
}

.form__buttons_type_logout {
    font-weight: 500;
    color: #EE3465;
}