.promo {
    width: 100%;
    background: #465DFF;
    background-size: 320px 320px;
    background-image: url("../../images/landing-logo.svg");
    background-repeat: no-repeat;
    min-height: 524px;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.promo__title {
    color: white;
    font-family: Inter;
    font-size: 50px;
    font-weight: 400;
    line-height: 58px;
    letter-spacing: -0.04em;
    text-align: center;
    margin: 0;
    max-width: 730px;
}