.footer {
  background: #fafafa;
}

.footer__content {
  min-height: 172px;
  padding: 0 70px;
  max-width: 1140px;
  margin: 0 auto;
}

.footer__text {
  color: #A0A0A0;
  font-size: 13px;
  margin: 0;
  text-align: center;
  padding-top: 79px;
  padding-bottom: 20px;
  margin-bottom: 20px;
  border-bottom: #E8E8E8 solid 1px;
}

.footer__utils {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.footer__copyright {
  font-size: 13px;
  margin: 0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer__link {
  padding-left: 20px;
  text-decoration: none;
  color: black;
  font-size: 13px;
}

@media screen and (max-width: 769px) {
  .footer {
    background: #fff;
    padding-bottom: 40px;
  }

  .footer__content {
    min-height: 152px;
    padding: 0 35px;
    max-width: 1140px;
    margin: 0 auto;
  }
}

@media screen and (max-width: 601px) {
  .footer__utils {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;

  }

  .footer__content {
    padding: 0 10px;
  }

  .footer__links {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .footer__text {
    font-size: 12px;
    padding-top: 71px;
    padding-bottom: 20px;
    margin-bottom: 35px;
    border-bottom: #E8E8E8 solid 1px;
  }

  .footer__link {
    padding-left: 0;
    padding-bottom: 12px;
    font-size: 12px;
  }

  .footer__copyright {
    font-size: 12px;
  }

  .footer__links {
    padding-bottom: 19px;
  }

}